<form action="/" method="post">

    <input type="text" name="address" placeholder="Your full address">
    <input type="text" name="insurer_address" placeholder="Insurer full address">
    <input type="text" name="policy_number" placeholder="Policy Number">
    <input type="text" name="insurance_sum" placeholder="Total sum of insurance policy">
    <input type="text" name="start_date" placeholder="start date">
    <input type="text" name="end_date" placeholder="end date">
    <select name="regularity">
        <option value="monthly">Monthly</option>
        <option value="annually">Annually</option>
    </select>
    <input type="text" name="excess" placeholder="Additional Information">
    <input type="text" name="renewal_date" placeholder="Renewal Date">
    <input type="submit" value="Generate Document">
</form>