<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
<p class="lead mt-3">Use this form to create a "notice of cover" that can be sent to Compton. 

</p>
<p>No data is collected from this form. The source code for this page is available at <a href="https://github.com/lurimax-north/insurance-notice-maker">https://github.com/lurimax-north/insurance-notice-maker</a></p>
You can also just download the template and do it manualy if you like <a class="btn btn-primary" href="/template" download>Download Template</a>
</div>
<div class="container">
<form action="/" method="post">
    <div class="mb-3">
        <label class="form-label" for="address">Your full address</label>
        <input class="form-control" id="address" type="text" name="address">
    </div>
    <div class="mb-3">
        <label class="form-label" for="insurer_address">Insurer full address</label>
        <input class="form-control" id="insurer_address" type="text" name="insurer_address">
    </div>
    <div class="mb-3">
        <label class="form-label" for="policy_number">Policy Number</label>
        <input class="form-control" id="policy_number" type="text" name="policy_number">
    </div>
    <div class="mb-3">
        <label class="form-label" for="insurance_sum">Total sum of insurance policy</label>
        <input class="form-control" id="insurance_sum" type="text" name="insurance_sum">
    </div>
    <div class="mb-3">
        <label class="form-label" for="start_date">Start date</label>
        <input class="form-control" id="start_date" type="text" name="start_date">
    </div>
    <div class="mb-3">
        <label class="form-label" for="end_date">End date</label>
        <input class="form-control" id="end_date" type="text" name="end_date">
    </div>
    <div class="mb-3">
        <label class="form-label" for="regularity">Payment Regularity</label>
        <select class="form-select" id="regularity" name="regularity">
            <option value="monthly">Monthly</option>
            <option value="annually">Annually</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="excess">Additional Information</label>
        <input class="form-control" id="excess" type="text" name="excess">
    </div>
    <div class="mb-3">
        <label class="form-label" for="renewal_date">Renewal Date</label>
        <input class="form-control" id="renewal_date" type="text" name="renewal_date">
    </div>
    <input class="btn btn-primary"="submit" value="Generate Document">
    <a class="btn btn-secondary" href="/example">Download example</a>

</form>

</div>
</body>
</html>